* {
    box-sizing: border-box;
    top: 0;
    margin: 0;
}

.navbar {
    background-color: #3498db;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}

#form1 {
    margin-top: 30px;
    padding: 20px;
}

#form1:hover {
    -webkit-box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
    -moz-box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
    box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
}

.accordion-button {
    font-size: 20px;
    padding: 10px;
    color: #3498db;

}

.accordion-body {
    color: #333;

}

/* FORM CSS */
#form2 {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 25px;
}

#form2:hover {
    -webkit-box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
    -moz-box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
    box-shadow: 12px 23px 19px 2px rgba(52, 152, 219, 0.47);
}

.container {
    padding: 16px;
    background-color: #ffffff;

}

input[type=text],
input[type=file],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ecf0f1;

}

input[type=text]:focus,
input[type=file]:focus,
input[type=password]:focus {
    background-color: #d6eaf8;

    outline: none;
    color: #333;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.registerbtn {
    background-color: #0975bd;
    color: #ffffff;
    font-weight: bolder;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}



/* SELECT LABEL STYLE */
.default-style {
    color: black;

}

.bca {
    color: #971b0d;

}

.mca {
    color: #044b22;

}

.be {
    color: #805107;
}

.me {
    color: #9329bd;

}